appnope
attrs
backcall
bcrypt
bleach
cffi
Click
decorator
defusedxml
dnspython
entrypoints
flake8
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Login
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mccabe
mistune
more-itertools
nbconvert
nbformat
notebook
pandocfilters
parso
pexpect
pickleshare
pluggy
prometheus-client
prompt-toolkit
ptyprocess
py
pycodestyle
pycparser
pyflakes
Pygments
PyJWT
pymongo
pyrsistent
pytest
pytest-flask
python-dateutil
pyzmq
qtconsole
Send2Trash
six
terminado
testpath
text-unidecode
tornado
traitlets
wcwidth
webencodings
Werkzeug
widgetsnbextension
zipp
